@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card .title {
    @apply text-lg font-normal mb-0 lg:mb-8 relative flex items-center;
  }

  .card .title:after {
    content: '';
    @apply absolute right-0 w-[21px] h-[5px] bg-[url('images/icon-ellipsis.svg')];
  }

  .card:before {
    @apply h-12 rounded-t-xl;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: 93%;
  }

  .card.type-work:before {
    background-image: url('images/icon-work.svg');
    background-color: hsl(15, 100%, 70%);
  }

  .card.type-play:before {
    background-image: url('images/icon-play.svg');
    background-color: hsl(195, 74%, 62%);
  }

  .card.type-study:before {
    background-image: url('images/icon-study.svg');
    background-color: hsl(348, 100%, 68%);
  }

  .card.type-exercise:before {
    background-image: url('images/icon-exercise.svg');
    background-color: hsl(145, 58%, 55%);
  }

  .card.type-social:before {
    background-image: url('images/icon-social.svg');
    background-color: hsl(264, 64%, 52%);
  }

  .card.type-self-care:before {
    background-image: url('images/icon-self-care.svg');
    background-color: hsl(43, 84%, 65%);
  }
}

body {
  font-family: 'Rubik', sans-serif;
}

.card {
  @apply pt-10 relative;
}

.card .inner {
  @apply flex flex-col relative z-10 bg-dark-blue rounded-xl text-white h-full pt-5 pb-6 px-6;
}

.card .time-wrapper {
  @apply flex flex-row lg:flex-col items-center lg:items-start justify-between;
}

.card .current-time {
  @apply text-3xl lg:text-[3.25rem] font-light mb-0 lg:mb-4;
}

.card .previous-time {
  @apply text-sm text-pale-blue;
}

.timeframe-select {
  @apply cursor-pointer text-desaturated-blue me-8 mb-5 lg:me-0 lg:mb-3 hover:text-white;
}

.timeframe-select.active {
  @apply text-white;
}